[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
api-maker = {file = ".", editable = true}
pytest = "*"
build = "*"
twine = "*"
boto3 = "*"
pyyaml = "*"
psycopg2-binary = "*"

[dev-packages]
pytest = "*"
boto3 = "*"

[requires]
python_version = "3.12"
