[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pulumi = "*"
pulumi-aws = "*"
api-foundry = {file = "../../.."}
boto3 = "*"
psycopg2-binary = "*"
build = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"
